**
!package.json
!README.md
!LICENSE
!CHANGELOG.md
!docs/Implementation-Plan.md
!docs/Implementation-Status.md
!docs/App-Server-Migration.md
!docs/Pi-Runtime-Packaging.md
!media/**
!dist/extension.js
!dist/guardrails.schema.json
!dist/handoff.schema.json
!dist/webview/index.js
!dist/webview/index.css
!dist/runtime/**
