/* Storybook で選択したテーマの色変数を適用する。 */
:root[data-storybook-theme="light"] {
	color-scheme: light;
	--vscode-descriptionForeground: #626f79;
	--vscode-input-background: #fff;
	--vscode-input-foreground: #242e36;
	--vscode-input-border: #adbcc5;
	--vscode-input-placeholderForeground: #a0a9b3;
	--vscode-panel-border: #d8dfe3;
	--vscode-errorForeground: #e28d8d;
	--vscode-diffEditor-insertedLineBackground: #3fb95026;
	--vscode-diffEditor-removedLineBackground: #f8514926;
	--vscode-textCodeBlock-background: #e6ecee;
	--vscode-editor-font-family: Consolas, "Courier New", monospace;
	--vscode-foreground: #242e36;
	--vscode-editorWarning-foreground: #c99e39;
	--vscode-button-background: #527e70;
	--vscode-focusBorder: #267065;
	--vscode-widget-border: #cbd3da;
	--vscode-dropdown-background: #f1f4f6;
	--vscode-dropdown-foreground: #263340;
	--vscode-testing-iconPassed: #48a976;
	--vscode-editorHoverWidget-background: #fff;
	--vscode-editorHoverWidget-foreground: #263340;
	--vscode-editorHoverWidget-border: #cbd3da;
	--vscode-editor-background: #eaf0f1;
	--vscode-inputValidation-warningBorder: #8f7544;
	--vscode-inputValidation-warningBackground: #fff7e9;
	--vscode-button-foreground: #162c26;
	--vscode-textLink-foreground: #267065;
	--vscode-sideBar-background: #f7f9f9;
	--vscode-button-secondaryBackground: #e7edef;
}
