**
!package.json
!README.md
!LICENSE
!CHANGELOG.md
!dist/media/**
!dist/extension.js
!dist/guardrails.schema.json
!dist/handoff.schema.json
!dist/webview/index.js
!dist/webview/index.css
!dist/runtime/**
